.product-container{
    display: flex;
    justify-content: space-between;
}

.product-col-1{

}



.product-images{

}


.product-main-img{

    
}


.product-slider{

}




.prod-desp{

}



.product-col-2{

}




.prod-info{

}



.seller-info{

}