*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.product-main{
    width:95%;
    margin: 0 auto;
}
.product-container{
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0;
    
}

.product-col-1{
    width: 60%;

}



.product-images{
    border: 1px solid gray;
    border-radius: 5px;
    

}


.product-main-img img{
    width: 90%;
    


}


.product-slider{

}




.prod-desp{
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
   padding: 10px;

}



.product-col-2{
    width: 35%;

}




.prod-info{
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
   padding: 10px;

}

.seller-information{
    margin-top: 10px;
   padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
   
}


.seller-info{
    
    display: flex;
 

}


.seller-image{
    
        height: 48px;
        width: 48px;
        border-radius: 50%;
        margin-top: 10px;
        margin-left: 10px;


     
}
.seller-metadata{
    display: flex;
            flex-direction: column;
            margin-left: 10px;
            margin-top: 7px;
            line-height: 1.3rem;




}
.seller-creator{
    font-size: 15px;
    font-weight: 500;




}





.faded-text {
    font-size: small;
    color: #00000099;
}
.seller-chat{
    width: 100%;
    background-color: #002f34;
    margin: 0px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
  
}
.seller-chat:hover{
    background-color: white;
    color:black;
    border:5px solid black;
}